{% extends 'base.html'%}
{% block isinya %}
{% load static %}




<div class="container mt-5">
    <div class="judul-kategori" style="background-color: #fff ; padding: 5px 10px; margin-left: 127px; margin-right: 127px;">
        <h5 class="text-center" style="margin-top: 5px; color: black;">KATEGORI</h5>
</div>

<div class="container mt-3">
    <div class="row text-center row-container mt-2">
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/baju.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2" ><strong>Baju</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/Celana.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2"><strong>Celana</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/Otomotif.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2"><strong>Otomotif</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/hp.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2"><strong>HandPhone</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/Sepatu.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2"><strong>Sepatu</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
            <div class="menu-kategori">
                <a href="#"><img src="{% static 'img/Elektronik.png' %}"  class='img-categori mt-3'></a>
                <p class="mt-2"><strong>Elektronik</strong></p>
            </div>
        </div>
        <div class="col-lg-2 col-md3 col-sm-4 col-6">
          <div class="menu-kategori">
              <a href="#"><img src="{% static 'img/fotografi.png' %}"  class='img-categori mt-3'></a>
              <p class="mt-2"><strong>Kamera</strong></p>
          </div>
      </div>
      <div class="col-lg-2 col-md3 col-sm-4 col-6">
        <div class="menu-kategori">
            <a href="#"><img src="{% static 'img/JamTangan.png' %}"  class='img-categori mt-3'></a>
            <p class="mt-2"><strong>JamTangan</strong></p>
        </div>
    </div>
    <div class="col-lg-2 col-md3 col-sm-4 col-6">
      <div class="menu-kategori">
          <a href="#"><img src="{% static 'img/kecantikan.png' %}"  class='img-categori mt-3'></a>
          <p class="mt-2"><strong>SkinCare</strong></p>
      </div>
  </div>
  <div class="col-lg-2 col-md3 col-sm-4 col-6">
    <div class="menu-kategori">
        <a href="#"><img src="{% static 'img/kesehatan.png' %}"  class='img-categori mt-3'></a>
        <p class="mt-2"><strong>Kesehatan</strong></p>
    </div>
</div>
<div class="col-lg-2 col-md3 col-sm-4 col-6">
  <div class="menu-kategori">
      <a href="#"><img src="{% static 'img/Laptop.png' %}"  class='img-categori mt-3'></a>
      <p class="mt-2"><strong>Laptop</strong></p>
  </div>
</div>
<div class="col-lg-2 col-md3 col-sm-4 col-6">
  <div class="menu-kategori">
      <a href="#"><img src="{% static 'img/tas.png' %}"  class='img-categori mt-3'></a>
      <p class="mt-2"><strong>Tas</strong></p>
  </div>
</div>

    </div>
    </div>
    <div class="container" style="padding: 30px 0px;">
      <div class="judul-kategori" style="padding: 10px 30px; background-color: #fff;">
        <h5 class="text-center" style= "margin-top: 5px;   padding: 30px 40px;">Promo</h5>
        <div class ="row">
            <div class="col-lg-2 col-md3 col-sm-4 col-6 mt-2">
                <div class="card tex-center">
                    <img src="{% static 'img/produk3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h6 class="card-title tex-center">Jordan</h6>
                      <p class="card-text tex-center">5.000.000</p>
                      <a href="#" class="btn btn-dark d-grid">Beli</a>
                    </div>
                  </div>
               
                </div>
                <div class="col-lg-2 col-md3 col-sm-4 col-6  mt-2">
                    <div class="card tex-center">
                      <img src="{% static 'img/scarlet.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h6 class="card-title tex-center">Skincare</h6>
                          <p class="card-text tex-center">150.000</p>
                          <a href="#" class="btn btn-dark d-grid">Beli</a>
                        </div>
                      </div>
                   
                    </div>
                    <div class="col-lg-2 col-md3 col-sm-4 col-6  mt-2">
                        <div class="card tex-center">
                            <img src="{% static 'img/iphone 12.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h6 class="card-title tex-center">iPhone 11</h6>
                              <p class="card-text tex-center">5.000.000</p>
                              <a href="#" class="btn btn-dark d-grid">Beli</a>
                            </div>
                          </div>
                       
                        </div>
                        <div class="col-lg-2 col-md3 col-sm-4 col-6  mt-2">
                            <div class="card tex-center">
                                <img src="{% static 'img/laptop.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h6 class="card-title tex-center">Laptop</h6>
                                  <p class="card-text tex-center">9.000.000</p>
                                  <a href="#" class="btn btn-dark d-grid">Beli</a>
                                </div>
                              </div>
                           
                            </div>
                            <div class="col-lg-2 col-md3 col-sm-4 col-6  mt-2">
                                <div class="card tex-center">
                                    <img src="{% static 'img/kemeja.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h6 class="card-title tex-center">Kemeja</h6>
                                      <p class="card-text tex-center">150.000</p>
                                      <a href="#" class="btn btn-dark d-grid">Beli</a>
                                    </div>
                                  </div>
                               
                                </div>
                                <div class="col-lg-2 col-md3 col-sm-4 col-6  mt-2">
                                    <div class="card tex-center">
                                        <img src="{% static 'img/parf.jpg' %}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h6 class="card-title tex-center">Parfurm</h5>
                                          <p class="card-text tex-center">85.000</p>
                                          <a href="#" class="btn btn-dark d-grid">Beli</a>
                                        </div>
                                      </div>
                                   
                                    </div>
            </div>
         

{% endblock %}