{% extends 'base.html'%}
{% block isinya %}
{% load static %}
<section id="form">
    <div class="container">
        <div class="col-md-2">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="/VBrg" class="btn btn-danger">Kembali</a>
            </form>
            
        </div>
    </div>
</section>
{% endblock %}